<section class="container py-5">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="display-4">Про нас</h1>
      <p class="lead">Ми є провідною компанією у сфері виготовлення та продажу меблів. Наша мета - забезпечити вас якісними та стильними меблями для вашого будинку чи офісу.</p>
      <p>Наші досвідчені дизайнери створюють унікальні меблі, враховуючи ваші особисті вподобання та стиль інтер'єру. Ми пропонуємо широкий асортимент меблів для спальні, вітальні, кухні, офісу та інших приміщень.</p>
    </div>
    <div class="col-lg-6">
      <img src="/img/aboutUs.jpg" class="img-fluid" alt="Про нас">
    </div>
  </div>
</section>